<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Dao.master.StudentMapper">

    <select id="getStudent" resultType="com.example.Response.Student" parameterType="string">
       select  * from student   where name = #{name}
    </select>
    
    <insert id="insertStudent" parameterType="com.example.Response.Student">
        insert into student (id,name,age,course) values(student_seq.Nextval,#{name,jdbcType=VARCHAR},#{age,jdbcType=NUMERIC},#{course,jdbcType=VARCHAR})
    </insert>

    <update id="updateStudent"  parameterType="com.example.Response.Student">
        update student a set a.name=#{name},a.age=#{age},a.course=#{course} where a.id=#{id}
    </update>
    
    <delete id="deleteStudent">
      delete  from  student a where  a.id=#{id}
    </delete>
</mapper>
